<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <section id="general">
        <category id="general" label="General">
            <group id="1">
                <setting id="enable_olevod" type="bool" label="Enable olevod.com">
                    <default>true</default>
                </setting>
                <setting id="enable_iyftv" type="bool" label="Enable iyf.tv">
                    <default>true</default>
                </setting>
                <setting id="enable_huavod" type="bool" label="Enable huavod.com">
                    <default>true</default>
                </setting>
                <setting id="search_timeout" type="slider" label="Search timeout (seconds)">
                    <default>15</default>
                    <constraints minimum="5" maximum="60" step="1"/>
                    <options format="integer"/>
                </setting>
            </group>
        </category>
    </section>
    <section id="account">
        <category id="account" label="OleVOD VIP Account">
            <group id="1">
                <setting id="olevod_username" type="string" label="Username / Email">
                    <default></default>
                </setting>
                <setting id="olevod_password" type="string" label="Password" option="hidden">
                    <default></default>
                </setting>
            </group>
        </category>
    </section>
</settings>
